.vertical-menu {
  width: 20vh;
  height: 80vh;
  overflow-y: auto;
  overflow-x:hidden;
  float: left;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #4CAF50;
  color: white;
}


.vertical-menu::-webkit-scrollbar {
  width: 0.25rem;
}

.vertical-menu::-webkit-scrollbar-track {
  background: #1e1e24;
}

.vertical-menu::-webkit-scrollbar-thumb {
  background: #6649b8;
}
